body {

}

.navigation {
    background-color: #4fb1ba;
    list-style-type: none;
    display: block;
    width: 10%;
    height: 100%;
    top: 0;
    left: 0;
    padding-left: 50px;
    padding-top: 20px;
    position: fixed;
}


.navigation_link {
    display : block;    
}

.navigation_link:hover {
    background-color: white;
    
}    

.page_title {
    padding-top: 20px;
    padding-left: 20%;
    top: 0;
    background-color: #4fb1ba;
}

.error_text {
    color: red;
}

.main {
    margin-left: 20%;

}
