<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/static/EOFdefault.css" type="text/css">
    <title>EOF Inventory system </title>
    </head>
    
    <body>
    <div class="navigation">
        <a href="/" class="navigation_link"> Inventory </a>
        <a href="/add" class="navigation_link"> Add Item </a>
        <a href="https://testing.eof.org.uk" class="navigation_link"> EOF home </a>
    </div>
    
    <h1 class="page_title"> Inventory </h1>

    <div class="main">
        <h2> test text</h2>
    </div>
    
    </body>

</html>
